section.style = '';

table.innerHTML = `
<% @result.each do |entry| %>
    <tr scope="row">
        <td scope="col"><%= entry[0] %></td>
        <td scope="col"><%= entry[1] %></td>
        <td scope="col"><%= entry[2] %></td>
    </tr>
<% end %>
`

spinner.style = 'display: none';